/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap");


/*BASIC CSS*/
html,
body {
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  top: 0;
  left: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(34, 54, 69, 0.7);
}

a:hover {
  color: #e74c3c;
}

ul {
  list-style-type: none;
}


/*HEADER / NAVBAR*/


.header {
  height: 90%;
  width: 100%;
}

.navbar {
  padding: 0.5rem 1rem;
  min-height: 11vh;
}

.navbar .navbar-brand a {
  padding: 1rem 0rem;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Antic-Slab";
  font-size: 2.5rem;
  color: #e74c3c;
}

.navbar-toggler {
  background-color: #e74c3c;
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 4px;
}

.nav-link {
  font-family: "Poppins";
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  font-size: large;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #fa9905;
  color: #fa9905;
}

h1.text-uppercase {
  font-family: "Merriweather", serif;
  align-items: center;
  font-size: 5vw;
  color: #f6f6f6;
  text-shadow: 4px 3px 5px black;
  text-decoration: underline;
  margin-top: -18vw;
}

.img1 {
  opacity: 0.4;
}

.title-btn {
  font-family: "Merriweather";
  font-size: 1.8vw;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: white;
  border: white 0.125em solid;
  padding: 0.4em 1em;
  border-radius: 0.25em;
  margin: 1.25em 0.5em;
  position: relative;
  transform: translateX(-4%);
}

.title-btn:hover,
.title-btn:focus {
  color: black;
  background-color: white;
  text-shadow: none;
}


/*PRODUCTS CAROUSEL*/


.carousel-item {
  background-color: #000;
  max-height: 120vh;
  margin: 0;
  padding: 0;
}

.carousel-heading {
  margin: 2rem 0.5rem 0rem 3.75vw;
  color: #313131;
  font-family: "Antic Slab";
  font-size: 2.25rem;
  text-align: left;
  background: url(https://www.partsbigboss.in/skin/frontend/smartwave/porto/images/slider-bar.png)
    right no-repeat;
}

.owl-carousel {
  padding: 1rem 1.5rem 2rem 1.25rem;
}

.carousel-wrapper {
  width: 95%;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

.owl-carousel .carousel-itema img {
  max-height: 30vh;
  margin: auto 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.085);
}

.owl-stage-outer {
  padding: 2rem 0;
}

.car-text {
  font-family: "Bitter";
  font-size: 1.1rem;
  color: #2d4059;
  font-weight: bold;
}

.card {
  margin: 2rem 1rem;
  justify-content: space-between;
}

.card-img-top {
  padding-top: 0.25rem;
}

.card-body .card-text {
  font-size: 1.2rem;
  font-family: "Lora";
  text-align: center;
}

.card:hover {
  margin: 1.25rem 1rem;
  cursor: pointer;
  background-color: #f0f5f9;
}


/*REVIEW CONTAINER AND FULL PAGE*/


.review-container {
  background-color: antiquewhite;
  border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.reviews {
  padding-left: 1rem;
}

.review-name {
  font-family: "Merriweather", Times, serif;
  font-size: 1.25rem;
}

.review-date {
  font-family: "Lucida Sans", sans-serif;
  font-size: 1rem;
}

.review-content {
  margin-top: 0.3rem;
  font-family: "Bitter", sans-serif;
}

.review-fp {
  background-color: #f4eeffb1;
}

.fp-name {
  font-size: 1.6rem;
}

.fp-date {
  font-size: 1.3rem;
}

.fp-content {
  font-size: 1.25rem;
  padding: 0.5rem;
}

hr {
  color: black;
  border: 1px solid black;
}

.view-more {
  text-decoration: underline;
  margin-left: 1rem;
  color: #254a94;
}

.fa-star,
.fa-star-half-o {
  color: #d89336;
}


/*ABOUT US*/


#aboutus {
  margin-bottom: 3rem;
}

#aboutus ul {
  color: #27496d;
  padding-top: 3rem;
  font-size: 1.25rem;
  list-style-type: circle;
  font-family: "Josefin Sans";
}


/*FOOTER*/


footer {
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 30px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.2rem;
  text-align: justify;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 2rem;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
}
.socials li {
  margin: 0 1rem;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 0.7rem 0rem 0.5rem 0;
  text-align: center;
}


/*CONTACT US PAGE*/


.quote-txt {
  padding-top: 5vh;
  padding-left: 5vw;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Lora";
}

.quote-img {
  text-align: center;
}

.quote-img img {
  height: 40vh;
}

.retpol {
  font-family: "Lora";
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
}

.retpol ul li {
  list-style-type: circle;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 30px auto;
  border: 1px solid #999;
  width: 45%;
}

form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

button:hover {
  background: #2371a0;
}
.close {
  color: rgb(157, 155, 155);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 0.4rem;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*CART PAGE*/


.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 2vw;
  color: #000;
  font-family: Bitter;
  padding: 2rem 0.5rem;
}

.table-dark {
  font-size: 2vw;
  font-family: "Merriweather";
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-info-text {
  padding: 2rem 1rem;
}

th {
  text-align: left;
  font-weight: normal;
}

td {
  font-family: "Lora";
  font-size: 1.2rem;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 180px;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

.total-table {
  border-top: 3px solid #00adb5;
  max-width: 30vw;
}

.total-price td {
  padding: 1rem 1rem 1rem 0;
  width: fit-content;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-btn {
  font-family: "Antic Slab";
  margin: 2vh 2vw 1vh;
}

.cart-btn:hover {
  font-size: 1.4rem;
  background-color: #0b5ed7;
}

.btn-warning {
  margin-bottom: 3vh;
}

.btn-warning:hover {
  font-size: 1.7rem;
  background-color: #ff9a00;
}

.link-dark{
  text-decoration: underline;
}

.link-dark:hover{
  color: red;
}


/*CUSTOM MEDIA QUERIES*/

@media only screen and (max-width: 642px) {
  .cart-info img {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .title-btn {
    font-size: 2.5vw;
  }
  .modal-content {
    width: 90vw;
  }
  .total-table {
    max-width: 100%;
  }
  caption {
    font-size: 3vh;
  }
}
