@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

html,
body {
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(34, 54, 69, 0.7);
}

a:hover {
  color: #e74c3c;
}

ul {
  list-style-type: none;
}

.header{
  height: 90%;
  width: 100%;
}

.navbar {
  background: #fff;
  padding: 0.5rem 1rem;
  min-height: 11vh;
}

.navbar .navbar-brand a {
  padding: 1rem 0rem;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Antic-Slab";
  font-size: 2.5rem;
  color: #e74c3c;
}

.navbar-toggler {
  background-color: #e74c3c;
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 4px;
}

.nav-link {
  font-family: "Poppins";
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  font-size: large;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #fa9905;
  color: #fa9905;
}

.carousel-item{
  max-height: 88vh;
  margin: 0;
  padding: 0;
}


.owl-carousel {
  padding: 2rem 1.5rem;
}

.carousel-wrapper {
  width: 95%;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #5110e9;
}

.owl-carousel .carousel-itema {
  text-align: center;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.owl-stage-outer {
  padding: 2rem 0px;
}

@media screen and (max-width: 600px) {
  .navlogo {
    width: auto;
  }
}
